<div class="admin">

<div class="navigation">

	<a id="ritly" href="/">R.</a>



</div>


<div class="container">

	<table class="table table-condensed table-striped table-hover">
		<th colspan="7" id="ritly">Ritly DB <h4 id="flash"><%= flash[:warning] %></h4></th>
			<tr>
				<td>ID</td>
				<td>Original URL</td>
				<td>String URL</td>
				<td>User_Count</td>
				<td>Created</td>
				<td>Updated</td>
				<% @db.each do |db| %>
				<tr>
				<td><%= db["id"] %></td>
				<td><a href="/go/<%=db["new_url"]%>/preview"><%= db["og_url"] %></a></td>
				<td><a href="/go/<%=db["new_url"]%>/preview"><%= db["new_url"] %></a></td>
				<td><%= db["user_count"] %></td>
				<td><%= db["created_at"] %></td>
				<td><%= db["updated_at"] %></td>
				<td><%= button_to "delete", {controller: :urls, action: :delete, id: db["id"] }, method: :delete, class: "btn btn-danger btn-sm" %></td>

			</tr>
				<% end %>

	</table>

</div>

</div>