<div class="navigation">

	<a id="ritly" href="/">R.</a>

	<a id="admin-btn" href="/admin">  </a>

</div>

<div class="container">
	<div ="row">

		<div class="col-sm-8 col-sm-offset-2 show">

			<h1 id="ritly-lg"> Your Rit.ly! </h1><br>

			<h3>Your code is: <a href="http://<%= @url.og_url %>"><%= @url.new_url %></a></h3>
			<h3>Go to <a href="/go/<%= @url.new_url %>">localhost:3000/go/<%= @url.new_url %></a> to visit your URL</h3>

<!-- 			<iframe  id="frame" src="http://<%= @url.og_url %>" >
			  <p>Your browser does not support iframes.</p>
			</iframe> -->



		</div>
	</div>
</div>
