<!DOCTYPE html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Fredericka+the+Great|Paytone+One|Grand+Hotel' rel='stylesheet' type='text/css'>
	<link href="http://us.cdn1.123rf.com/168nwm/vova/vova0905/vova090500030/4918595-letter-r-alphabet-symbol--grunge-hand-draw-paint.jpg" rel="shortcut icon">
	<link rel="stylesheet" href="../../assets/animate.css">
  <title>Rit.ly</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%#= stylesheet_link_tag "animate" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  

</head>
<body>
	
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <nav>
      	<ul class="nav pull-left">
          <li><h4>Ritly</h4></li>
        </ul>
        <ul class="nav pull-right">
	        <% if signed_in? %>
	          <li><%= link_to "My profile", current_user %></li>
	          <li>
	            <%= link_to "Sign out", signout_path, method: "delete" %>
	          </li>
	        <% else %>
	          <li><%= link_to "Sign up", signup_path %></li>
	          <li><%= link_to "Sign in", signin_path %></li>
	        <% end %>
				</ul>
      </nav>
    </div>
  </div>
</header> 
<div id="background-cover">


<%= yield %>
</div>
</body>
</html>
